
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
:root{
    --color:#12202E;
    --icon: #94C0EC;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    outline: none;
}

/* Smooth scroll */
html{
    scroll-behavior: smooth;
}


.container{
    max-width:1867px;
    padding: 0px 100px;
    margin: auto;
    z-index: 10;
}
.text-secondary{
    color: white;
}

.text-center{
    text-align: center;
}
.m-heading{
    font-size: 32px;
    margin-bottom: 12px;
}

/* .menu-btn{
    color: #fff;
    cursor: pointer;
    display: none;
} */

/* .list{
    margin: 16px 0;
    list-style: none;
}

.list li{
    padding: 8px 0;
}

.list li span{
    padding-left: 50px;
} */

.btn-md{
    display: inline-block;
    background:var(--icon);
    color: #08080A;
    font-size: 25px;
    font-weight: bold;
    padding: 8px 36px;
    margin-top: 20px;
    border-radius: 50px;
    border: 2px solid var(--color);
    transition: all 0.3s ease;
}
.btn-md:hover{
    color: var(--icon);
    background: none;
}

.title::before{
    content: '';
    background: var(--icon);
    height: 2px;
    width: 200px;
    margin: 0 auto;
    display: block;
    transform: translateY(44px);
}

.title::after{
    content: '';
    background: var(--icon);
    height: 7px;
    width: 65px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(1px);
}

.showcase{
    background-image: url('images/photo_2023-02-03_05-27-28.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

@media screen and (max-width:768px) {
 .showcase{
        width: 1130px;
        
    }
    
}

.navbar{
    position: fixed;
    width: 100%;
    margin: auto;
    padding: 35px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}
@media screen and (max-width:768px) {
    .navbar{
        padding: 33px 17px;
    
    }
    
   }
.navbar.sticky{
    padding: 10px 100px;
    background: #07080B;
    
}
.navbar .logo{
    color:var(--icon);
    font-size: 30px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    font-size: 13px;
    text-transform: uppercase;
}
.navbar .logo  img{
width: 32px;
margin-right: 23px;
top: 10px;
position: relative;
border-radius: 9px;
}

.navbar ul li span{
    color:var(--icon);
    border-left: 1px solid #A9ADB8;
    padding-left: 25px;
    padding-right: 5px;
    text-align: center;
}
.navbar ul li a{
    color: #A9ADB8;
    font-weight: bold;
    transition: all 0.5s ease;
    font-size: 20px;
}

.navbar ul li a:hover{
    color: var(--icon);
}

/* Showcase content section */

.showcase-text{
    max-width: 800px;
    padding-top: 250px;
    padding-left: 120px;
    color: #fff;
}
@media screen and (max-width:768px) {
    .showcase-text{
        padding-left: 28px;
           
       }
       
   }
 .showcase-text .text-1{
    font-size: 27px;
}
.showcase-text .text-2{
    font-size: 75px;
    font-weight: 700;
}
.showcase-text .text-3{
    font-size: 40px;
    margin: 5px 0;
    font-weight: 700;
}
.showcase-text .text-3 span{
    color:var(--icon);
}
.showcase-img img{
    position: absolute;
    bottom: 130px;
    right: 0;
    width: 609px;
    height: 79%;
    object-fit: cover;
    opacity: 0.4;
    overflow: hidden;
    border-radius: 60px;
}

@media screen and (max-width:768px) {
    .showcase-img img{
        width: 385px;
        left: 537px;
        bottom: 84px;
       
           
       }
       
   }


/* About section content */
@media screen and (max-width:768px) {
    #about  {
        width: 1130px;
        
    }
   
}
@media  (max-width:768px) {
   
   #about .about-content .right{
    
        width: 52%;

    }
}
#about{
    background: #07080B;
}

.about .title::before{
    background: var(--icon);
}
.about .title::after{
    background: var(--icon);
}


.about h1{
    color: #6e6e70;
    text-align: center;
    font-size: 80px;
    transform: translateY(20px);
    opacity: 0.1;
    padding-top: -20px;
}

.about h5{
    font-weight: 700;
    transform: translateY(-65px);
}

.about .about-content .column{
    margin-top: 40px;
}
.about .about-content,
.services .service-content,
.skills .skill-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    transform: translateY(-60px);
}

.about .about-content .left{
    width: 55%;
    padding: 0 20px;
    overflow: hidden;
    height: 543px;
}
.about .about-content .left img{
    height: 461px;
    width: 412px;
    object-fit: cover;
    border-radius: 50%;
    border: solid var(--icon);
    box-shadow: 0px -1px 20px 1px rgb(236 229 200 / 60%);
    margin-top: 55px;
    margin-left: 150px;
}


@media  (max-width:768px) {
   
    #about .about-content .left img{
     
        margin-left: 0px;
        display: flex;
 
     }
 }

.about .about-content .right{
    width: 45%;
    color: #A9ADB8;
}

.about .about-content .right .text{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right .text span{
    color:var(--icon);
}
.about .about-content .right .table{
    width: 500px;
    padding: 10px 0;
    margin-left: 0px;
}
.about .about-content .right .table td{
    padding: 10px;
}

/* Services section styling */

#services{
    color: #A9ADB8;
    background: var(--color);
}

.services h5{
    font-weight: 700;
    color: white;
    transform: translateY(-65px);
}

.services h1{
    color: #A9ADB8;
    text-align: center;
    font-size: 80px;
    transform: translateY(23px);
    opacity: 0.1;
    padding-top: -20px;
}

.services .service-content .main{
    width: calc(25% - 20px);
    min-height: 450px;
    text-align: center;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}
@media  (max-width:768px) {
   
    .services .service-content .main{
     
        width: calc(40% - 20px);
        align-items: center;
        display: flex;
 
     }
 }
@media screen and (max-width:768px) {
    #services{
        width: 1130px;
    }
    
}
.service{
    background: #07080B;
    padding: 30px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    transform: scale(1.05);
    box-shadow: 0 0 20px -15px #07080b;
    transition: transform 0.8s;
    width: 300px;
}

.service-logo{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: -90px auto 0;
    background: #3d5fc4;
    border: 18px solid var(--icon);
    transform: transform 1s;
}
.service-logo i{
    color: white;
    width: 60px;
    margin-top: 20px;
    font-size: 52px!important;
}


.service h4{
    height: 37px;
    width: 87%;
    background: #07080B;
    margin: 63px auto;
    position: relative;
    font-size: 25px;
}
.service h4::after{
    content: '';
    width: 40px;
    height: 30px;
    background: linear-gradient(to right, #07080B ,  #94C0EC );
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: -1;
}
.service h4::before{
    content: '';
    width: 40px;
    height: 30px;
    background: linear-gradient(to right,  #94C0EC , #07080B);
    position: absolute;
    left: -5px;
    bottom: -5px;
    z-index: -1;
}
.shadowone{
    height: 200px;
    width: 80%;
    background: #07080B;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 10%;
    z-index: -1;
    box-shadow: 0 0 20px -15px #07080B;
    transition: transform 0.8s;
}
.shadowtwo{
    height: 200px;
    width: 64%;
    background: #07080B;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 18%;
    z-index: -2;
}

.main:hover .service{
    transform: translateY(-50px);
}
.main:hover .shadowone{
    transform: translateY(-25px);
}

/* My Skills Section */
@media screen and (max-width:768px) {
    #skills,#contact{
        width: 1130px;
    }
    
}
#skills{
    background: var(--color);
}

.skills h1{
    color: white;
    text-align: center;
    font-size: 80px;
    transform: translateY(20px);
    opacity: 0.1;
    padding-top: -20px;
}
.skills h5{
    font-weight: 700;
    transform: translateY(-65px);
}
.skills .title::before{
    background: var(--icon);
}
.skills .title::after{
    background:var(--icon);
}

.skills .skill-content .column{
    margin-top: 40px;
    width: calc(50% - 50px);
}


.skills .skill-content .right .bars{
    margin-bottom: 20px;
}
.skills .skill-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
    color: #A9ADB8;
}
.skills .skill-content .right span{
    font-weight: 500;
    font-size: 18px;
}

.skills .skill-content .right .line{
    height: 2px;
    width: 100%;
    background: lightgray;
    position: relative;
}

.skills .skill-content .right .line::before{
    content: '';
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background:black;
}

.skills .skill-content .right .ps::before{
    width: 80%;
}
.skills .skill-content .right .mg::before{
    width: 95%;
}
.skills .skill-content .right .axd::before{
    width: 50%;
}
.skills .skill-content .right .uxd::before{
    width: 50%;
}
.skills .skill-content .right .html::before{
    width: 99%;
}
.skills .skill-content .right .dm::before{
    width: 56%;
}

/* Team section styling */

#teams{
    color: #A9ADB8;
    background: #FEC544;
}

.teams h5{
    font-weight: 700;
    color: #07080B;
    transform: translateY(-65px);
}

.teams h1{
    color: #07080B;
    text-align: center;
    font-size: 80px;
    transform: translateY(23px);
    opacity: 0.1;
    padding-top: -20px;
}

.teams .carousel .card{
    background: #07080B;
    border-radius: 5px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}

.teams .carousel .card:hover{
    background: #15151a;
}
.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.3s ease;
}

.teams .carousel .card:hover .box{
    transform: scale(1.05);
}
.teams .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.teams .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #FEC544;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover img{
    border-color: #fff;
}

.owl-dots {
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    background: #07080B !important;
    outline: none !important;
    border-radius: 50%;
    border: 2px solid #07080B;
    transition: all 0.3s ease;
}


/* Contact Me Section */
@media screen and (max-width:768px) {
    #footer{
        width: 1130px;
    }
    
}

section{
    padding: 40px 0;
    background: #07080B;
}

.contact h1{
    color: #6e6e70;
    text-align: center;
    font-size: 80px;
    transform: translateY(20px);
    opacity: 0.1;
    padding-top: -20px;
}
.contact h5{
    font-weight: 700;
    transform: translateY(-65px);
}
.contact .title::before{
    background:var(--icon);
}
.contact .title::after{
    background:var(--icon);
}
.contact .contact-content .column{
    margin-top: 40px;
    width: calc(50% - 50px);
}
.contact .contact-content .left h2{
    font-size: 30px;
    margin-bottom: 30px;
    color: #A9ADB8;
}
.contact .contact-content .left .form-group input{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #A9ADB8;
    background: #fff;
    border-radius: 5px;
}
.contact .contact-content .left .form-group textarea{
    width: 100%;
    background: #fff;
    padding: 10px;
    height: 150px;
    margin-top: 20px;
    border-radius: 5px;
}
.contact .contact-content .left .btn-md{
    padding: 8px 18px;
    font-size: 16px;
}

.contact .contact-content .right{
    color: #A9ADB8;
}
.contact .contact-content .right h2{
    font-size: 30px;
    margin-bottom: 15px;
}
.contact .contact-content .right p{
    line-height: 1.6;
}
.contact .contact-content .right .items{
    margin: 10px 0;
}
.contact .contact-content .right .items .item{
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.contact .contact-content .right .items .item i{
    padding: 16px;
    border: 1px solid #072e99;
    border-radius: 50%;
    margin-right: 20px;
}
.contact .contact-content .right .items .item span{
    font-size: 14px;
}
.contact .contact-content .right  .icon i{
    font-size: 2.25rem!important;
}
.contact .contact-content .right .links{
    overflow: hidden;
    padding: 10px 0;
}
.contact .contact-content .right .links li{
    display: inline-block;
    list-style: none;
    padding-right: 15px;
}
.contact .contact-content .right .links li a{
    color: #A9ADB8;
    text-decoration: none;
    transition: all 0.3s ease;
}
.contact .contact-content .right .links li a:hover{
    color: var(--icon);
}
#footer{
    text-align: center;
    background:var(--color);
    padding: 30px 0;
    color: #07080B;
    font-weight: 700;
}
#footer p{
    letter-spacing: 3px;
    font-size: x-large;
    text-transform: capitalize;
}


/* Scroll up styling */
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    border: 1px solid #fff;
    background: #07080B;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show{
    opacity: 1;
    pointer-events: auto;
    bottom: 30px;
}






































